* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho nav ul a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav ul a:hover {
    background-color: #ff0000;
}

.cabecalho {
    display: flex;
    /* space-between é espaço entre os elementos. Um para cada lado */
    justify-content: space-between;
    padding: 30px;
    /* Fez o cabeçalho ficar centralizado */
    max-width: 1440px;
    /* Fez o cabeçalho ficar centralizado */
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
}

.cabecalho .menu {
    display: flex;
    /* Precisa ser usado junto com o height */
    align-items: center;
    /* Ocupou 100% do espaço do pai */
    height: 100%;
}

.container {
    /* Fez o conteúdo principal ficar centralizado */
    max-width: 1440px;
    /* Fez o conteúdo principal ficar centralizado */
    margin: 0 auto;
    display: flex;
    /* Precisa ser usado junto com o height */
    /*height: 100vh;  vh é usado para ocupar toda a tela, porém com isso, foi criado um scroll */
    align-items: center;
    /* inspecionei o cabeçalho e peguei a medida do height 155.46, assim tirando o scroll criado */
    height: calc(100vh - 155.46px);
    padding: 0 30px 30px;
}

.imagem-titulo {
    max-width: 500px;
}

.descricao {
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}

.botao {
    background-color: #ff0021;
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.botao:hover {
    /* Faz o conteúdo crescer para frente */
    transform: scale(1.1);
}

.fundo-video {
    /* Faz com que o conteúdo passe para uma outra "folha" */
    position: absolute;
    /* Eixo Z é o eixo de profundidade. O -1 fez o video ir para trás */
    z-index: -1;
    width: 100vw;
    height: 100vh;
    /* Pra quem tem monitor grande, o display flex com o justify-content center é necessário */
    display: flex;
    /* Pra quem tem monitor grande, o display flex com o justify-content center é necessário */
    justify-content: center;
    /* Overflow é transbordar. Ele deixou passar as larguras e alturas. Então se usa o HIDDEN para ocultar isso e tirar o scroll que se formou */
    overflow: hidden;
}

.video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.749);
    /* Escondeu o video em pop-up. Irá aparecer com a ajuda do JS */
    visibility: hidden;
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}

.fechar-modal {
    background-color: #ffffff;
    color: #f03a17;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}